@charset "UTF-8";

.container {
    border: 3px solid green;
    border-style: dashed;

    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.caixa1 {
    background-color: red;
    border-color: black;
    border-style: dashed;

    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa2 {
    background-color: yellow;
    border-color: black;
    border-style: dashed;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.caixa3 {
    background-color: blue;
    border-color: black;
    border-style: dashed;

    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa4 {
    background-color: green;
    border-color: black;
    border-style: dashed;

    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}
