@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
}

.item {
    border: 3px solid rgb(0, 218, 0);
    border-style: dotted;
    text-align: center;
}