@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: lightgrey;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
    color: white;
    padding: 6px;
}

nav  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: white;
    padding: 7px;
    margin: 2px;
    
}

nav a {
    color: purple;
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;
}

a:hover, a:active {
    background-color:rgba(128, 11, 128, 0.919);
    color:aquamarine;
}


main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 1.2em;
    background-color: white;
    padding: 6px;
    margin-top: 2px;
    border-radius: 3px;
    border-width: 2px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  color: lightgreen;
  background-color: black;
  border-radius: 13px;
}

footer {
    background-color: blueviolet;
    color: white;
    padding: 1px;
    margin: 1px;
}

